/* .card-img-top{
  max-width: 200%;
  height: 20rem;
} */


.close{
  position: relative;
  z-index: 3;
}
.atracciones{
  margin: 0% 2%;
  box-shadow: -12px 24px 52px 0px rgba(0,0,0,0.75);
}

button.close{
  display: inline-flex;
  position: absolute;
  padding: 10px 15px 10px;
  align-self: flex-end;
}
.modal-titulo{
  position: relative;

  
  
}

.card-body img {
  z-index: 2;
  margin-left: 10px;
  padding-bottom: 1rem;
  position: relative;
  display: inline;
}
.texto-modal{
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 600px) { 
  .modal-titulo{
    position: absolute;
    left: 16rem;
    top: 2rem;
  }
 }

.caja-modal{
  border-style: double;
  border: 5px black solid ;
  padding: 2%;
}

.cajas-modal{
  border: solid black 1px;
  border-radius: 2%;
  padding: 1%;
  width: 100%;
  text-align: justify;
}

.ecosendas{
  display: flex;
  flex-direction: column;
}

.modal-titulo{

z-index: 3;
-ms-transform-origin-x: 100%;
margin: 0% 5%;
}

.modal-titulo::before{
  content: "";
  background-color: rgba(197, 187, 7, 0.73);
  width: 100%;
  height: 100%;
  position: absolute;
  animation: backInDown;
  animation-duration: 1s;
  z-index: -2;
  display: inline-block;
  
}