*{
  font-family: 'Quicksand', sans-serif;
  color: black;
}


.barra-amarilla{
  width: 100%;
  height: 20px;
  background-color: yellow;
}

.carrusel{
  height: 30em;

}

svg{
  width: 120px;
}



.entetur:hover #uno{
  animation: turismo 100ms normal  ;
}
.entetur:hover #dos{
  animation: turismo 100ms normal 100ms;
}
.entetur:hover #tres{
  animation: turismo 100ms normal 200ms  ;
}
.entetur:hover #cuatro{
  animation: turismo 100ms normal 300ms ;
}

.entetur:hover #cinco{
  animation: turismo 100ms normal 400ms ;
}

.entetur:hover #seis{
  animation: turismo 100ms normal 500ms ;
}

.entetur:hover #siete{
  animation: turismo 100ms normal 600ms ;
}

.entetur:hover #ocho{
  animation: turismo 100ms normal 700ms ;
}

.entetur:hover #nueve{
  animation: turismo 100ms normal 800ms ;
}

.entetur:hover #diez{
  animation: turismo 100ms normal 900ms ;
}

.entetur:hover #once{
  animation: turismo 100ms normal 1000ms ;
}

.entetur:hover #doce{
  animation: turismo 100ms normal 1100ms ;
}

.entetur:hover #trece{
  animation: turismo 100ms normal 1200ms ;
}

.entetur:hover #catorce{
  animation: turismo 100ms normal 1300ms ;
}

.entetur:hover #quince{
  animation: turismo 100ms normal 1400ms ;
}

.entetur:hover #dieciseis{
  animation: turismo 100ms normal 1500ms ;
}

.entetur:hover #diecisiete{
  animation: turismo 100ms normal 1600ms ;
}

.entetur:hover #dieciocho{
  animation: turismo 100ms normal 1700ms ;
}

.entetur:hover #diecinueve{
  animation: turismo 100ms normal 1800ms ;
}

.entetur:hover #veinte{
  animation: turismo 100ms normal 1900ms ;
}

.entetur:hover #veintiuno{
  animation: turismo 100ms normal 2000ms ;
}

.entetur:hover #veintidos{
  animation: turismo 100ms normal 2100ms ;
}
.entetur:hover #veintitres{
  animation: turismo 100ms normal 2200ms ;
}
.entetur:hover #veinticuatro{
  animation: turismo 100ms normal 2300ms ;
}
.entetur:hover #veinticinco{
  animation: turismo 100ms normal 2400ms ;
}
.entetur:hover #veintiseis{
  animation: turismo 100ms normal 2500ms ;
}
.entetur:hover #veintisiete{
  animation: turismo 100ms normal 2600ms ;
}
.entetur:hover #veintiocho{
  animation: turismo 100ms normal 2700ms ;
}

@keyframes turismo{
  0%{ fill: black; }
  80%{ fill: white;}
  100%{fill: gray;}
}

.dosespacios{
  margin-left: 8px;
}

.redes-sociales i{
  width: 80px;
}
 
.carousel-inner{
  background-color: rgba(82, 78, 78, 0.337);
}
.carousel-caption{
  z-index: 3;
  padding: 20px;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
  height: 150px;
  bottom: 0;
  background-color: rgba(82, 78, 78, 1);
  box-shadow: 0px -22px 49px 0px rgba(0,0,0,0.75);

}

.animate__animated.animate__fadeInUp{
  animation-duration: 2s;
}
.carousel-caption p{
  color: white;
  
}
.carousel-caption h5{
  color: white;
  
}

.carousel-item::after{
  content: "";
  background-color: gray;
  z-index: 4;
  width: 100px;
  height: 100px;
  position: absolute;
}

.card-body img{
  width: 30%;
}


.lavarse{
  position: absolute;
   top: 10%;
  left: 40%; 
}
.carousel-caption h5{
 font-size: 1rem;
}

footer{
  color: rgba(0, 0, 0, 1);
  }
  .color-iconos {
  color: rgba(0, 0, 0, 1);
  }
  .flecha{
  width: 10px;
  }